.single-page-personal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Adjustments for larger screens */
@media only screen and (min-width: 768px) {
  .single-page-personal {
    flex-direction: row;
  }

  .single-page-personal .div {
    width: 100%;
    max-width: 1440px; /* Adjust the maximum width as needed */
    height: auto;
  }

  .single-page-personal .banner,
  .single-page-personal .image,
  .single-page-personal .text,
  .single-page-personal .text-2,
  .single-page-personal .text-wrapper,
  .single-page-personal .text-wrapper-2 {
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    left: 0;
  }

  .single-page-personal .div,
  .single-page-personal .overlap,
  .single-page-personal .services,
  .single-page-personal .group,
  .single-page-personal .cards,
  .single-page-personal .about,
  .single-page-personal .overlap-group,
  .single-page-personal .group-2,
  .single-page-personal .text-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.single-page-personal .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  max-width: 1440px; /* Adjust the maximum width as needed */
  height: auto;
  position: relative;
}

.single-page-personal .banner,
.single-page-personal .image,
.single-page-personal .text {
  width: 100%;
  height: auto;
  position: static;
  top: 0;
  left: 0;
}

.single-page-personal .text-wrapper,
.single-page-personal .text-wrapper-2,
.single-page-personal .text-2,
.single-page-personal .text-wrapper-3,
.single-page-personal .text-wrapper-4,
.single-page-personal .text-4,
.single-page-personal .text-5,
.single-page-personal .text-6,
.single-page-personal .text-wrapper-6,
.single-page-personal .text-7,
.single-page-personal .text-8,
.single-page-personal .text-wrapper-7 {
  position: static;
  top: 0;
  left: 0;
}

.single-page-personal .text-wrapper,
.single-page-personal .text-wrapper-2 {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #212529;
  font-size: 96px;
  letter-spacing: -4.8px;
  line-height: normal;
}

.single-page-personal .text-wrapper-2 {
  top: 154px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #6c757d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
